testing-env/testing.json
[{"id":"c781ad444e961c1f","type":"tab","label":"流程1","disabled":false,"info":"","env":[]},{"id":"c5a17985f819468a","type":"Read File","z":"c781ad444e961c1f","flowControllable":true,"name":"","filename":"/Users/fred/works/Brobridge/atomic-modules/atomic-file/file-read.html","filenameType":"str","encoding":"none","bufferSize":"100","outputMode":"string","outputFormat":"single","maxLinesOfBatch":"100","flowControl":"enable","x":630,"y":280,"wires":[["e29522905f1c6ed2","fc409e84992727bc"]]},{"id":"e69338ab8172c80c","type":"file in","z":"c781ad444e961c1f","name":"","filename":"/Users/fred/works/Brobridge/atomic-modules/atomic-file/file-read.html","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":630,"y":380,"wires":[["4a6bb861e11ca9e6"]]},{"id":"4a6bb861e11ca9e6","type":"debug","z":"c781ad444e961c1f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":380,"wires":[]},{"id":"c7e5b3224cb09d20","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":380,"wires":[["e69338ab8172c80c"]]},{"id":"863b5fcfc2c5ca42","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["c5a17985f819468a"]]},{"id":"e29522905f1c6ed2","type":"debug","z":"c781ad444e961c1f","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":280,"wires":[]},{"id":"fc409e84992727bc","type":"Flow Control","z":"c781ad444e961c1f","name":"","targetNodeId":"","selectMode":"auto","selectedNodes":[],"action":"continue","x":1010,"y":240,"wires":[]}]