testing-env/testing.json
[{"id":"c781ad444e961c1f","type":"tab","label":"流程1","disabled":false,"info":"","env":[]},{"id":"c5a17985f819468a","type":"Read File","z":"c781ad444e961c1f","flowControllable":true,"name":"","filename":"/Users/fred/works/Brobridge/atomic-modules/atomic-file/file-read.html","filenameType":"str","encoding":"none","bufferSize":"100","outputMode":"string","outputFormat":"single","maxLinesOfBatch":"100","flowControl":"enable","x":630,"y":280,"wires":[["e29522905f1c6ed2","fc409e84992727bc"]]},{"id":"e69338ab8172c80c","type":"file in","z":"c781ad444e961c1f","name":"","filename":"/Users/fred/works/Brobridge/atomic-modules/atomic-file/file-read.html","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":630,"y":700,"wires":[["4a6bb861e11ca9e6"]]},{"id":"4a6bb861e11ca9e6","type":"debug","z":"c781ad444e961c1f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":700,"wires":[]},{"id":"c7e5b3224cb09d20","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":700,"wires":[["e69338ab8172c80c"]]},{"id":"863b5fcfc2c5ca42","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["c5a17985f819468a"]]},{"id":"e29522905f1c6ed2","type":"debug","z":"c781ad444e961c1f","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":280,"wires":[]},{"id":"fc409e84992727bc","type":"Flow Control","z":"c781ad444e961c1f","name":"","targetNodeId":"","selectMode":"auto","selectedNodes":[],"action":"continue","x":1010,"y":240,"wires":[]},{"id":"9a6c128e1129d48f","type":"Read File","z":"c781ad444e961c1f","flowControllable":true,"name":"","filename":"/Users/fred/works/Brobridge/atomic-modules/atomic-file/file-read.html","filenameType":"str","encoding":"none","bufferSize":"10","outputMode":"bufferStream","outputFormat":"single","maxLinesOfBatch":"100","flowControl":"enable","x":630,"y":500,"wires":[["3e8e233ec2e1a461","1f23d91189e9e9c6"]]},{"id":"87b765a5216692f7","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":500,"wires":[["9a6c128e1129d48f"]]},{"id":"3e8e233ec2e1a461","type":"debug","z":"c781ad444e961c1f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":500,"wires":[]},{"id":"1f23d91189e9e9c6","type":"Flow Control","z":"c781ad444e961c1f","name":"","targetNodeId":"","selectMode":"specific","selectedNodes":["9a6c128e1129d48f"],"action":"continue","x":1010,"y":460,"wires":[]},{"id":"01fb1b73372b0c58","type":"Write File","z":"c781ad444e961c1f","name":"","filename":"aabbcc/test_data.txt","filenameType":"str","overwrite":false,"encoding":"none","autoCreateDir":true,"appendNewLine":true,"x":480,"y":780,"wires":[["7a57571edfa5cc70"]]},{"id":"48d6979c28b72153","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iso","payloadType":"date","x":250,"y":780,"wires":[["01fb1b73372b0c58"]]},{"id":"7a57571edfa5cc70","type":"debug","z":"c781ad444e961c1f","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":800,"wires":[]},{"id":"1b84239bf928905a","type":"Read File","z":"c781ad444e961c1f","flowControllable":true,"name":"","filename":"aabbcc/test_data.txt","filenameType":"str","encoding":"none","bufferSize":65536,"outputMode":"string","outputFormat":"single","maxLinesOfBatch":1000,"flowControl":"disable","x":500,"y":840,"wires":[["7a57571edfa5cc70"]]},{"id":"0964aff4bedc7734","type":"inject","z":"c781ad444e961c1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":840,"wires":[["1b84239bf928905a"]]}]